{% extends "base.html" %}
<!--{% block title %}Index{% endblock %}-->
{% block content %}
<!DOCTYPE html>
<style>
@media (max-width:2000px){
    body {

    }
    .jumbotron{
	padding: 2em
    }
}
</style>
<div class="container" style="width:100%; margin: 0px; padding-top: 5em !important">
<div id='info' class='jumbotron'>
<h1>Are you sure you typed that right? Maybe you clicked a wrong button?</h1>
<p>Sorry, the page identifed by {{ err }} , doesn't seem to exist.<br/></p>
</div>
</div>
{% endblock %}
