{% extends "base.html" %}
<!--{% block title %}Cuisine{% endblock %}-->
{% block content %}
<style>
#pinterest{
    width:300em
    height:450em
}
.google-maps {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
overflow: hidden;
}
.google-maps iframe {
position: relative;
width: 50% !important;
height: 100% !important;
}
</style>
<div  class='container text-center'>
 <h1>Cuisine Type: {{ cuisine.name }}</h1>
</div>
</br>
<div  class='container-fluid'>
 <div  class='row line-height:75em'>
  <div class='col-sx-6 col-md-6 col-lg-6'>
    <div class="container-fluid">
    <h3>Description: {{ cuisine.description }}</h3>
    <p>Recipes</p>
    <ul class="list-group">
      {% for recipe in cuisine.recipes %}
       <a href="/recipe/{{ recipe.id }}"><li class="list-group-item">{{ recipe.name }}</li></a>
      {% endfor %}
    </ul>      
    <p>Ingredients</p>
    <ul class="list-group">
      {% for ingredient in cuisine.ingredients %}
        <a href="/ingredient/{{ ingredient.id }}"><li class="list-group-item">{{ ingredient.name }}</li>
      {% endfor %}
    </ul>
    <div class="container-fluid">
    <div class="google-maps">
    <iframe src="{{ cuisine.map }}"  class="img-rounded" width="300" height="450" frameborder="0" style="border:0"></iframe>
    <a id="pinterest" data-pin-do="embedBoard" href="{{ cuisine.pinterest_page }}"  data-pin-scale-width="80" data-pin-scale-height="360" data-pin-board-width="400"></a>
<!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
    </div>
    </div>
    </div>
  </div>
  <div class='col-sx-6 col-md-6 col-lg-6'>
    <div class="container-fluid">
    <div class="container-fluid">
        <img src="{{ cuisine.image_URL }}" class="img-rounded img-responsive" alt="Buffet"> 
    </div>
    </br>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item img-rounded" src="{{ cuisine.youtube_URL }}"></iframe>
    </div>
    </div>
  </div>
 </div>
</div>
{% endblock %}
