{% extends "base.html" %}
<!--{% block title %}Index{% endblock %}-->
{% block content %}
<div class='container-fluid'>
  <div class='container'>
  <div id='info' class='jumbotron'>
    <div class='row'>
      <div class='col-md-4 text-center'>
        <img src="{{ index.peppers }}" class="img-rounded" alt="Buffet" width="250" height="236"> 
        <h2>Ingredients</h2>
        <p>
          <a href='/ingredients.html'>Ingredients</a>
        </p>
      </div>
      <div class='col-md-4 text-center'>
        <img src="{{ index.bagel }}" class="img-rounded" alt="Buffet" width="250" height="236"> 
        <h2>Recipes</h2>
        <p>
          <a href='/recipes.html'>Recipes</a>
        </p>
      </div>
      <div class='col-md-4 text-center'>
       <img src="{{ index.leaning }}" class="img-rounded" alt="Buffet" width="250" height="236"> 
        <h2>Cuisines</h2>
        <p>
          <a href='/cuisines.html'>Cuisines</a>
        </p>
      </div>
    </div>
   </div>
  </div>
</div>
{% endblock %}
