{% extends "base.html" %}
{% block header %}
    {{ super() }}
    </div>
{% endblock %}
<!--{% block title %}Index{% endblock %}-->
{% block content %}
<div class="container" style="width:100%; margin: 0px; padding-top: 5em !important">
 <div class="container" style="width:100%; margin: 0px; padding: 0px !important">
      <div class="row" style="background: url('http://www.afjonline.com/images/hero1.jpg') no-repeat;   height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
">
        <div class="col-lg-12" style=" padding: 0 !important;
   		margin: 0 !important;">
        </div>
      </div>
</div>
<div class='container-fluid'>
  <div class='container'>
  <div id='info' class='jumbotron'>
    <div class='row'>
      <div class='col-md-4 text-center'>
        <a href='/ingredients.html'><img src="{{ index.peppers }}" class="img-rounded" alt="Buffet" width="250" height="236"></a>
        <p>
          <a href='/ingredients.html'>Ingredients</a>
        </p>
      </div>
      <div class='col-md-4 text-center'>
        <a href='/recipes.html'><img src="{{ index.bagel }}" class="img-rounded" alt="Buffet" width="250" height="236"></a>
        <p>
          <a href='/recipes.html'>Recipes</a>
        </p>
      </div>
      <div class='col-md-4 text-center'>
       <a href='/cuisines.html'><img src="{{ index.leaning }}" class="img-rounded" alt="Buffet" width="250" height="236"></a>
        <p>
          <a href='/cuisines.html'>Cuisines</a>
        </p>
      </div>
    </div>
   </div>
  </div>
  <center><form action="/search" method=post><input type=text name=search value="{{ request.form.search }}"><div class="actions"><input type=submit value="Search"></div></center>
  <center>
      <a class="twitter-timeline" href="https://twitter.com/FoodNetwork" data-widget-id="581118978052866048">Tweets by @FoodNetwork</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <a class="twitter-timeline" href="https://twitter.com/foodandwine" data-widget-id="581119382044082176">Tweets by @foodandwine</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </center>
</div>
</div>
{% endblock %}
