{% extends "base.html" %}
<!--{% block title %}Ingredients{% endblock %}-->
{% block content %}
<div  class='container-fluid'>
  <div class='container'>
  <div id='info' class='jumbotron'>
    <div class='row'>
      {% for ingredient in ingredients %}
      <div class='col-md-4 text-center'>
        <a href='/ingredient/{{ ingredient.ingredient_id }}'><img src="{{ ingredient.image_url }}" class="img-rounded" alt="Buffet" width="250" height="236"> </a>
        <p>
          <a href='/ingredient/{{ ingredient.ingredient_id }}'>{{ ingredient.name }}</a>
        </p>
      </div>
      {% endfor %}
    </div>
   </div>
  </div>
</div>
{% endblock %}
