{% extends "base.html" %}
<!--{% block title %}Ingredients{% endblock %}-->
{% block content %}
<div  class='container-fluid'>
  <div class='container'>
  <div id='info' class='jumbotron'>
    <div class='row'>
      <div class='col-md-4 text-center'>
        <img src="/static/mexican_peppers.jpeg" class="img-rounded" alt="Buffet" width="250" height="236"> 
        <h2>Ingredients</h2>
        <p>
          <a href='/flask/ingredients/'>Ingredients</a>
        </p>
      </div>
      <div class='col-md-4 text-center'>
        <img src="/static/french_bagel.jpeg" class="img-rounded" alt="Buffet" width="250" height="236"> 
        <h2>Recipes</h2>
        <p>
          <a href='flask/recipes/'>Recipes</a>
        </p>
      </div>
      <div class='col-md-4 text-center'>
       <img src="/static/pisa_tower.jpeg" class="img-rounded" alt="Buffet" width="250" height="236"> 
        <h2>Cuisines</h2>
        <p>
          <a href='/flask/cuisines/'>Cuisines</a>
        </p>
      </div>
    </div>
   </div>
  </div>
</div>
{% endblock %}