{% extends "base.html" %}
<!--{% block title %}Ingredient{% endblock %}-->
{% block content %}
<div class="container" style="width:100%; margin: 0px; padding-top: 5em !important">
<div  class='container text-center'>
 <h1>Ingredient: {{ ingredient.name }}</h1>
<!-- <h2>Description: {{ ingredient.description }}</h2>  -->
</div>
</br>
<div  class='container-fluid'>
 <div  class='row line-height:75em'>
  <div class='col-sx-6 col-md-6 col-lg-6'>
    <div class="container-fluid">
    <h3>Description: {{ ingredient.description }}</h3>  
    <p>Recipes</p>
    <ul class="list-group">
      {% for recipe in ingredient.recipes %}
        <a href="/recipe/{{ recipe.recipe_id }}"><li class="list-group-item">{{ recipe.name }}</li></a>
      {% endfor %}
    </ul>      
    <p>Cuisines</p>
    <ul class="list-group">
      {% for cuisine in ingredient.cuisines%}
        <a href="/cuisine/{{ cuisine.cuisine_id }}"><li class="list-group-item">{{ cuisine.name }}</li></a>
      {% endfor %}
    </ul>      
    </div>
  </div>
  <div class='col-sx-6 col-md-6 col-lg-6'>
    <div class="container-fluid">
    <div class="container-fluid">
        <img src="{{ ingredient.image_url }}" class="img-rounded img-responsive" alt="Buffet"> 
    </div>
    </br>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item img-rounded" src="{{ ingredient.youtube_url }}"></iframe>
    </div>
    </div>
  </div>
 </div>
</div>
</div>
{% endblock %}
