{% extends "base.html" %}
<!--{% block title %}Index{% endblock %}-->
{% block content %}
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<style>
@media (max-width:2000px){
    body {

    }
    thead th:hover {
        background-color: red;
    }
    .jumbotron{
	padding: 2em
    }
}
</style>
<div class="container" style="width:100%; margin: 0px; padding-top: 5em !important">
<div id='info' class='jumbotron'>
<h1>Models</h1>
  <table id="modelsTable" class="tablesorter pure-table">
    <thead>
      <tr>
        <th>Recipe Id</th>
        <th>Recipe Name</th>
        <th>Cuisine Id</th>
        <th>Number of Ingredients</th>
      </tr>
    </thead>
    <tbody>
    {% for recipe in recipes %}
      <tr>
        <th><a href="/recipe/{{ recipe.recipe_id }}">{{ recipe.recipe_id }}</a></th>
        <th><a href="/recipe/{{ recipe.recipe_id }}">{{ recipe.name }}</a></th>
        <th><a href="/cuisine/{{ recipe.cuisine_id}}">{{ recipe.cuisine_id }}</a></th>
        <th>{{ recipe.num_ingredients }}</th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </br>
  <table id="modelsTable2" class="tablesorter pure-table">
    <thead>
      <tr>
        <th>Cuisine Id</th>
        <th>Cuisine Name</th>
        <th>Pinterest Page</th>
        <th>Number of Ingredients</th>
      </tr>
    </thead>
    <tbody>
    {% for cuisine in cuisines %}
      <tr>
        <th><a href="/cuisine/{{ cuisine.cuisine_id }}">{{ cuisine.cuisine_id }}</a></th>
        <th><a href="/cuisine/{{ cuisine.cuisine_id }}">{{ cuisine.name }}</a></th>
        <th><a href="{{ cuisine.pinterest_page }}">{{ cuisine.pinterest_page }}</a></th>
        <th>{{ cuisine.num_ingredients }}</th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </br>
  <table id="modelsTable3" class="tablesorter pure-table">
    <thead>
      <tr>
        <th>Ingredient Id</th>
        <th>Ingredient Name</th>
        <th>Ingredient Image</th>
      </tr>
    </thead>
    <tbody>
    {% for ingredient in ingredients %}
      <tr>
        <th><a href="/ingredient/{{ ingredient.ingredient_id }}">{{ ingredient.ingredient_id }}</a></th>
        <th><a href="/ingredient/{{ ingredient.ingredient_id }}">{{ ingredient.name }}</a></th>
        <th><a href="{{ ingredient.image_url }}">{{ ingredient.image_url }}</a></th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
{% block footer %}
{{ super() }}
<script type="text/javascript" src="/static/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        $("#modelsTable").tablesorter(); 
    } 
); 
$(document).ready(function() 
    { 
        $("#modelsTable2").tablesorter(); 
    } 
); 
$(document).ready(function() 
    { 
        $("#modelsTable3").tablesorter(); 
    } 
); 
</script>
{% endblock %}
