{% extends "base.html" %}
<!--{% block title %}Ingredient{% endblock %}-->
{% block content %}
<div  class='container text-center'>
 <h1>Recipe: {{ recipe.name }}</h1>
 <h2>Description: {{ recipe.description }}</h2>
</div>
<div  class='container-fluid'>
 <div  class='row line-height:75em'>
  <div class='col-sx-4 col-md-4 col-lg-4'>
    <div class="container-fluid">
    <p>Ingredients</p>
    <ul class="list-group">
      {% for ingredient in recipe.ingredients %}
        <li class="list-group-item">{{ ingredient.quantity}} {{ ingredient.name }}</li>
      {% endfor %}
    </ul>      
    <p>Instructions</p>
    <ul class="list-group">
      {% for instruction in recipe.instructions %}
        <li class="list-group-item">{{ instruction }}</li>
      {% endfor %}
    </ul>      
    </div>
  </div>
  <div class='col-sx-8 col-md-8 col-lg-8'>
    <div class="container-fluid">
    <div class="container-fluid">
        <img src="{{ recipe.image_URL }}" class="img-rounded img-responsive" alt="Buffet"> 
    </div>
    </br>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="{{ recipe.youtube_URL }}"></iframe>
    </div>
    </div>
  </div>
 </div>
</div>
{% endblock %}
