{% extends "base.html" %}
<!--{% block title %}Recipes{% endblock %}-->
{% block content %}
<div  class='container-fluid'>
  <div class='container'>
  <div id='info' class='jumbotron'>
    <div class='row'>
      {% for recipe in recipes %}
      <div class='col-md-4 text-center'>
        <a href='/recipe/{{ recipe.id }}'><img src="{{ recipe.image_URL }}" class="img-rounded" alt="Buffet" width="250" height="236"></a>
        <p>
          <a href='/recipe/{{ recipe.id }}'>{{ recipe.name }}</a>
        </p>
      </div>
      {% endfor %}
    </div>
   </div>
  </div>
</div>
{% endblock %}
