{% extends "base.html" %}
<!--{% block title %}The Team{% endblock %}-->
{% block content %}
<div class='container-fluid'>
  <div class='container'>
  <div id='info' class='jumbotron'>
    <div class='row'>
      <div class='col-md-4 text-center'>
        <img src="http://zachinfovis.weebly.com/uploads/3/0/9/6/30967697/6729473_orig.png" class="img-rounded" alt="Buffet" width="250" height="236"> 
        <p>
          Zach
        </p>
	Zach is a guy.
      </div>
      <div class='col-md-4 text-center'>
        <img src="https://media.licdn.com/mpr/mpr/p/8/005/089/2d5/17bd3f0.jpg" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
        <p>
	Carl Bai
        </p>
	Carl is a guy as well.
      </div>
      <div class='col-md-4 text-center'>
        <img src="https://pbs.twimg.com/profile_images/554511296717017088/MUsT-bDt.jpeg" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
        <p>
	Taylor Barnett
        </p>
	Taylor is not a guy.
      </div>
      <div class='col-md-4 text-center'>
        <img src="" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
        <p>
	Your name goes here.
        </p>
	Your description goes here.
      </div>
      <div class='col-md-4 text-center'>
        <img src="" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
        <p>
	Your name goes here.
        </p>
	Your description goes here.
      </div>
      <div class='col-md-4 text-center'>
        <img src="" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
        <p>
	Your name goes here.
        </p>
	Your description goes here.
      </div>
    </div>
   </div>
  </div>
</div>
{% endblock %}
