{% extends "base.html" %}
<!--{% block title %}The Team{% endblock %}-->
{% block content %}
<div class='container-fluid'>
  <div class='container'>
  <div id='info' class='jumbotron'>
    <div class='row'>
      <div class='col-md-4 text-center'>
        <img src="http://zachinfovis.weebly.com/uploads/3/0/9/6/30967697/6729473_orig.png" class="img-rounded" alt="Buffet" width="250" height="236"> 
        <p>Zach Abel</p>
		<b>Bio: </b> Senior studying CS and Physics. Graduating Fall 2015.<br>
		<b>Major Responsibilities:</b> Worked on front end: HTML, CSS, nginx stuff, inserting stuff into Database, consultant on DB design<br>
		<b># of commits:</b> 18<br>
		<b># of issues:</b> 3<br>
		<b># of unit tests:</b> 0<br>
		<p></p>
      </div>
      <div class='col-md-4 text-center'>
        <img src="https://media.licdn.com/mpr/mpr/p/8/005/089/2d5/17bd3f0.jpg" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
        <p>Carl Bai</p>
		<b>Bio: </b> Carl is senior CS major at UT Austin. He will be graduating in May 2015. He enjoys reading and playing table tennis in his free time.<br>
		<b>Major Responsibilities:</b> Worked on Python back end, API design, data base design and modeling<br>
		<b># of commits:</b> 30<br>
		<b># of issues:</b> 24<br>
		<b># of unit tests:</b> 0<br>
		<p></p>
      </div>
      <div class='col-md-4 text-center'>
        <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/1545170_10202884536305332_1865726523_n.jpg?oh=0b448e766476e2b980631da98cc86800&oe=55A515A6&__gda__=1440372719_7d26cf2890096e0b2b0d59d9754cbbd7" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
    	<p>Taylor Barnett</p>
		<b>Bio: </b> Taylor is a senior CS major at UT. She was the leader of HackTX for two years, and enjoys web development with Python. In her free time she enjoys going on Town Lake Trail.<br>
		<b>Major Responsibilities:</b> Team Leader for IDB1, worked on API design, Python back end, and some front end template design <br>
		<b># of commits:</b> 36<br>
		<b># of issues:</b> 11<br>
		<b># of unit tests:</b> 0<br>
		<p></p>
      </div>
      <div class='col-md-4 text-center'>
        <img src="https://media.licdn.com/media/AAEAAQAAAAAAAALCAAAAJGU4Y2M1NDgxLWI1MWQtNDI5Zi1iMTA3LWM1Yjc3OThhYjZjMA.jpg" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
	    <p>Joey Caudill</p>

		<b>Bio: </b> Joey is a senior CS and Mathematics major. He is graduating in May 2015 and will stat working at Factset in early August. In his free time he likes listening to music, reading, and thinking up other stuff to put in this bio section.<br>
		<b>Major Responsibilities:</b> Team leader for IDB2. Worked mainly with unit testing, data collection, unit test page, and database design.<br>
		<b># of commits:</b> 12<br>
		<b># of issues:</b> 21<br>
		<b># of unit tests:</b> 60<br>

		<p></p>
      </div>
      <div class='col-md-4 text-center'>
        <img src="https://scontent.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/1013806_703648663007654_4650152177798108988_n.jpg?oh=4a3093e2e7681c249783dc6eaa5b4ccf&oe=55B87F7D" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
	    <p>Andy Chow</p>
		<b>Bio: </b> Andy is a fourth-year CS major at UT. He is graduating in Spring 2015. In his free time he enjoys jogging and playing sports. He worked as an intern at Epic Systems Corporation in Summer 2014 and will be returning there as a full time developer starting July 2015.<br>
		<b>Major Responsibilities:</b> Helped with API design, data collection, putting the collected data in JSON format on the Apiary doc, and unit test page.<br>
		<b># of commits:</b> 11<br>
		<b># of issues:</b> 2<br>
		<b># of unit tests:</b> 0<br>
		<p></p>
      </div>
      <div class='col-md-4 text-center'>
        <img src="https://pbs.twimg.com/media/CAzqll4WkAEe77R.jpg" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
	    <p>Fiona</p>
		<b>Bio: </b> Fiona is a corgi. She enjoys sitting around in her free time and giving moral support.<br>
		<b>Major Responsibilities:</b> Looked at the computer some<br>
		<b># of commits:</b> 0<br>
		<b># of issues:</b> 0<br>
		<b># of unit tests:</b> 0<br>
		<p></p>
      </div>
    </div>
   </div>
	<center>
		<h2>Team stats as of 6:29pm, April 9, 2015:</h2>
		<p>
			<b>Total # of commits: </b> 129<br>
			<b>Total # of issues:</b> 61<br>
			<b>Total # of unit tests:</b> 60<br>
		</p>
		<p></p>
		<h3>Want to use our API?</h3>
        <p><a  href='http://docs.idb15.apiary.io/' role="button"><img src="https://apiary.a.ssl.fastly.net/assets/images/apiary-logotype-3D-only-65f3fc0eadfae813.png" alt="" width="250" height="236"/></a>
		<h3>Want to see our code?</h3>
        <a href='https://github.com/tbarn/cs373-idb/'><img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" class="img-rounded" alt="" width="250" height="236"/></a>
    </center>
  </div>
</div>
{% endblock %}
