{% extends "base.html" %}
<!--{% block title %}The Team{% endblock %}-->
{% block content %}
<div class='container-fluid'>
  <div class='container'>
  <div id='info' class='jumbotron'>
    <div class='row'>
      <div class='col-md-4 text-center'>
        <img src="http://zachinfovis.weebly.com/uploads/3/0/9/6/30967697/6729473_orig.png" class="img-rounded" alt="Buffet" width="250" height="236"> 
        <p>
          Zach Abel
        </p>
	Zach is a guy.
	<p></p>
      </div>
      <div class='col-md-4 text-center'>
        <img src="https://media.licdn.com/mpr/mpr/p/8/005/089/2d5/17bd3f0.jpg" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
        <p>
	Carl Bai
        </p>
	Carl is a guy as well.
	<p></p>
      </div>
      <div class='col-md-4 text-center'>
        <img src="https://pbs.twimg.com/profile_images/554511296717017088/MUsT-bDt.jpeg" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
        <p>
	Taylor Barnett
        </p>
	Taylor is not a guy.
	<p></p>
      </div>
      <div class='col-md-4 text-center'>
        <img src="https://media.licdn.com/media/AAEAAQAAAAAAAALCAAAAJGU4Y2M1NDgxLWI1MWQtNDI5Zi1iMTA3LWM1Yjc3OThhYjZjMA.jpg" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
        <p>
	Joey Caudill
        </p>
	Stuff ... I don't know
        <p></p>
      </div>
      <div class='col-md-4 text-center'>
        <img src="https://scontent.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/1013806_703648663007654_4650152177798108988_n.jpg?oh=4a3093e2e7681c249783dc6eaa5b4ccf&oe=55B87F7D" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
        <p>
	Andy Chow
        </p>
	Andy is a guy also.
	<p></p>
      </div>
      <div class='col-md-4 text-center'>
        <img src="https://pbs.twimg.com/media/CAuNQnsU8AAD7m4.jpg" class="img-rounded" alt="ARE YOU HERE? WHY NOT?" width="250" height="236">
        <p>
	Fiona
        </p>
	Fiona is a dog.
	<p></p>
      </div>
    </div>
   </div>
  </div>
</div>
{% endblock %}
